/* Reset Default CSS */
#app {
  text-align: left;
  height: 100%;
  width: 100%;
  font-size: 14px;
}

html,
body {
  font-size: 14px;
  height: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, \\5fae\8f6f\96c5\9ed1, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

*::-webkit-scrollbar {
  display: none;
}

a:link {
  text-decoration: none;
}

p,
ul,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

select,
button {
  outline: none;
}

input:-webkit-autofill {
  background-color: #ffffff !important;
}
